.md-form input[type="search"]:not(.browser-default) {
  border-bottom: 1px solid #3dabe6 !important;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
  font-family: Arial;
}

td.name {
  text-align: left;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 2px solid #1e8bc3;
    display: block;
    margin-bottom: 0.625em;
    font-size: 12pt;
  }

  td.name {
    text-align: right;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    margin-right: 2%;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .table-label {
    text-align: center;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
    display: inline-block;
    width: 100% !important;
  }

  .edit-btn {
    width: 100%;
  }

  .extratd{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 2px solid #1e8bc3;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 0px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    margin-right: 2%;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .table-label {
    text-align: center;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
    display: inline-block;
    width: 100% !important;
  }

  .edit-btn {
    width: 100%;
  }

  .extratd{
    display: none;
  }
}
