{% extends "./base_designs/base02.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %} {% load widget_tweaks %}

<main class="pb-5">
    <div class="container-fluid">
        <!--Grid row -->
        <div class="row align-items-center justify-content-center mr-2 ml-2">
            <!-- Grid column -->
            <div class="col-lg-12 col-md-12 mb-4">
                <!-- Breadcrumb -->
                <div class="light-font animated fadeInUp slow">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" class="white-text">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'employee-list' %}" class="white-text">Employee List</a></li>
                            <li class="breadcrumb-item active">Download Data</li>
                        </ol>
                    </nav>
                </div>
                <!--Card -->
                <div class="card card-cascade cascading-admin-card pt-2">
                    <!-- Card Data -->
                    <div class="admin-up d-flex justify-content-start">
                        <div class="purple-gradient py-1 mr-3 z-depth-2" style="border-radius: 3px;">
                            <i class="fas fa-users animated tada infinite"></i>
                        </div>
                        <div class="data">
                            <h5 class="font-weight-bold dark-grey-text">Download Employees</h5>
                        </div>
                    </div>
                    <!-- Card Data -->
                    <!--Card content -->
                    <div class="card-body card-body-cascade">

                        <form method="post" novalidate>
                            {% csrf_token %} {{ form.unique_officer_id | attr:"type:hidden" }}
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="md-form">
                                        {{ form.ip | attr:"class:select2 w-100" | attr:"id:ip"}}
                                        <div class="red-text">
                                            <small>
                                            {% for error in form.ip.errors %}
                                                {{error}}
                                            {% endfor %}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="md-form">
                                        {{ form.port | attr:"class:form-control mb-0" | attr:"id:port"}}
                                        <label for="port">Port</label>
                                        <div class="red-text">
                                            <small>
                                                {% for error in form.port.errors %}
                                                {{error}}
                                                {% endfor %}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="text-center mt-4">
                                <button type="button" onclick="alertinfomessage('Confirm Download?','Confirm to download user data?')" class="btn btn-indigo">Download Employee&nbsp;&nbsp;<i class="far fa-paper-plane"></i></button>
                            </div>
                            {% include "./modals/info.html" %}
                        </form>

                    </div>

                </div>
                <!--Card -->

            </div>
            <!-- Grid column -->
        </div>
    </div>
</main>
{% endblock content %} {% block appscript %}
<script>
    url_activator("/");
</script>
<script>
    // Data Picker Initialization
    $('.datepicker').pickadate({
        selectYears: 200,
        format: "mm/dd/yyyy"
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'user/js/combobox-reloader.js' %}"></script>
{% endblock appscript %}